<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue工具库</title>
    <link rel="stylesheet" href="./dist/mp-vue-tools.css">
    <style>
    .main {
        margin-bottom: 500px;
    }
    .folder {
        color: #CCA545;
    }
    .file {
        color: #337ab7;
    }
    </style>
</head>
<body>
    <div id="app">
        <div class="navbar navbar-gray" id="header">
            <div class="container">
                <div class="navbar-header">
                    <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target="#menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./">
                        <i class="glyphicon glyphicon-home"></i>
                        vue工具库
                    </a>
                </div>
            </div>
        </div>

        <div class="container main">
            <h2 class="page-header">表格</h2>
            <mp-table :max-height="400" resize :default-order-by="orderBy" :default-order-sort="orderSort" @on-order="onOrder">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th v-for="column in columnList" :style="{width: column.width + 'px'}" v-table-order="column.field">{{column.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in userList">
                            <td v-for="column in columnList">
                                <span>{{user[column.field]}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mp-table>
            <mp-pager :page-index.sync="pageIndex" :page-size.sync="pageSize" :total="total" @paging="getUserList"></mp-pager>
            
            <h2 class="page-header">自动补全</h2>
            <div class="row">
                <div class="col-md-3">
                    <mp-autocomplete input-class="form-control input-sm" :width="400" v-model="userName" :show-result="!!itemList.length" @input="getOptions">
                        <table>
                            <thead>
                                <tr>
                                    <th width="100">工号</th>
                                    <th width="100">姓名</th>
                                    <th>部门</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in itemList" @click="selectItem(item)">
                                    <td>{{item.Badge}}</td>
                                    <td>{{item.Name}}</td>
                                    <td>{{item.DepName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mp-autocomplete>
                </div>
            </div>

            <h2 class="page-header">消息框</h2>
            <div class="row form-group">
                <button type="button" class="btn btn-primary" @click="messageBox('alert')">Alert</button>
                <button type="button" class="btn btn-success" @click="messageBox('confirm')">Confirm</button>
            </div>

            <h2 class="page-header">选择器</h2>
            <div class="row form-group">
                <div class="col-md-2 control-label">人员选择：</div>
                <div class="col-md-10">
                    <button type="button" class="btn btn-primary" @click="selectOrganization('singlePeople')">单人</button>
                    <button type="button" class="btn btn-success" @click="selectOrganization('multiPeople')">多人</button>
                    <button type="button" class="btn btn-info" @click="selectOrganization('singleDep')">单部门</button>
                    <button type="button" class="btn btn-warning" @click="selectOrganization('multiDep')">多部门</button>
                    <button type="button" class="btn btn-danger" @click="selectOrganization('singleDepJob')">单部门职位</button>
                    <button type="button" class="btn btn-default" @click="selectOrganization('multiDepJob')">多部门职位</button>
                    <button type="button" class="btn btn-danger" @click="selectOrganization('singleJob')">单职位</button>
                    <button type="button" class="btn btn-default" @click="selectOrganization('multiJob')">多职位</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 control-label">产品选择：</div>
                <div class="col-md-10">
                    <button type="button" class="btn btn-primary" @click="selectSingleProduct('Cpx')">单产品线</button>
                    <button type="button" class="btn btn-success" @click="selectMultiProduct('Cpx')">多产品线</button>
                    <button type="button" class="btn btn-info" @click="selectSingleProduct('Cpxl')">单产品系列</button>
                    <button type="button" class="btn btn-warning" @click="selectMultiProduct('Cpxl')">多产品系列</button>
                    <button type="button" class="btn btn-danger" @click="selectSingleProduct('Cp')">单主机</button>
                    <button type="button" class="btn btn-default" @click="selectMultiProduct('Cp')">多主机</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./dist/mp-vue-tools.js"></script>
    <script>
        var vm;
        var tools = window['mp-vue-tools'];
        var http = tools.http;
        var selector = tools.selector;
        var messageBox = tools.messageBox;
        new Vue({
            el: '#app',
            data: function () {
                return {
                    columnList: [
                        {
                            name: '工号',
                            field: 'Badge',
                            width: 300,
                            isShow: true
                        }, {
                            name: '姓名',
                            field: 'Name',
                            width: 300,
                            isShow: true
                        }, {
                            name: '姓名拼音',
                            field: 'SpellName',
                            width: 300,
                            isShow: true
                        }, {
                            name: '一级\n部门名称',
                            field: 'OneDepName',
                            width: 300,
                            isShow: true
                        }, {
                            name: '邮箱',
                            field: 'Email',
                            width: 600,
                            isShow: true
                        }
                    ],
                    userList: [],
                    total: 0,
                    pageIndex: 13,
                    pageSize: 20,
                    orderBy: 'Badge',
                    orderSort: 'asc',
                    userName: '',
                    itemList: [],
                    pathList: []
                };
            },
            created: function () {
                vm = this;
                vm.getUserList();
                vm.getPathList();
            },
            methods: {
                getUserList: function () {
                    http.jsonp('http://192.168.102.12:100/Test/User/GetList', {
                        params: {
                            pageIndex: vm.pageIndex,
                            pageSize: vm.pageSize,
                            sname: vm.orderBy,
                            sorder: vm.orderSort
                        }
                    })
                    .then(function (response) {
                        vm.userList = response.data.data;
                        vm.total = response.data.total;
                    });
                },
                getOptions: function (value) {
                    this.itemList = [];
                    if (!value || value.length < 1) return;
                    http.jsonp('http://192.168.102.12:100/Selector/Organization/GetPeopleResult', {
                        params: {
                            keyword: value,
                            pageIndex: 1,
                            pageSize: 20
                        }
                    })
                    .then(function (res) {
                        vm.itemList = res.data;
                    });
                },
                selectItem: function (item) {
                    vm.userName = item.Name;
                },
                selectOrganization: function (type) {
                    selector[type]({
                        callback: function(data) {
                            selector.close();
                            console.log(data);
                        }
                    });
                },
                selectSingleProduct: function (type) {
                    selector.singleProduct({
                        type: type,
                        callback: function(data) {
                            selector.close();
                            console.log(data);
                        }
                    });
                },
                selectMultiProduct: function (type) {
                    selector.multiProduct({
                        type: type,
                        callback: function(data) {
                            selector.close();
                            console.log(data);
                        }
                    });
                },
                onOrder: function (orderBy, orderSort) {
                    vm.orderBy = orderBy;
                    vm.orderSort = orderSort;
                    vm.pageIndex = 1;
                    vm.getUserList();
                },
                getPathList: function (parent, resolve) {
                    http.jsonp('http://localhost:18002/FileTransport/GetDirectoryAndFileList', {
                        params: {
                            path: parent ? parent.data.FullName : ''
                        },
                        jsonpCallback: 'jsoncallback'
                    })
                    .then(function (response) {
                        var data = response.data;
                        if (data.State) {
                            var list = parent ? parent.children = [] : vm.pathList;
                            data.Data.DirectoryList.forEach(function (item) {
                                list.push({
                                    label: item.Name,
                                    iconClass: 'glyphicon glyphicon-folder-open folder',
                                    data: item
                                });
                            });
                            data.Data.FileList.forEach(function (item) {
                                list.push({
                                    label: item.Name,
                                    iconClass: 'glyphicon glyphicon-file file',
                                    isLeaf: true,
                                    showCheckbox: true,
                                    data: item
                                });
                            });
                            resolve && resolve();
                        }
                    });
                },
                getCheckedPathList: function () {
                    var nodes = vm.$refs.pathTree.getCheckedNodes();
                    console.log(nodes);
                },
                clickNode: function(node) {
                    console.log(node);
                },
                messageBox: function(type) {
                    messageBox[type]({
                        content: '这是<span style="color: red; margin: 0 5px;">' + type + '</span>框',
                        html: true
                    })
                    .then(function () {
                        alert('确定');
                    }, function () {
                        alert('取消');
                    });
                }
            }
        });        
    </script>
</body>
</html>